body{
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #bebebe;
    position: fixed;
    height: 100%;
    overflow: auto;
}


li a {
    display: block;
    text-decoration: none;
    padding: 8px 16px;
    color: #fff;

}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

li a.active {
    background-color: #04AA8D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}